.form-group
    h3 #{model.name}
    .input-group
        span.input-group-btn
            select.btn(data-hook="input-type")
                option(value="url") 網址
                option(value="file") 檔案
        input.form-control(required="required", data-hook="input")
