.col-md-6
    h2 參數
    form
        div(data-hook="input-container")
        div(data-hook="outputs-container")
        
        button.btn.btn-lg.btn-primary(type="submit") 生成
        span ((要等蠻久的，好了我會彈個提示
